<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать &ndash; Магаз</title>
</head>
<body>
<a th:href="@{/catalogue/products/create}">+ Создать товар</a>
<h1>Список товаров</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Товар</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td >
                <a th:href="@{/catalogue/products/{productId}(productId=${product.id})}"
                   th:text="${product.title}"></a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>