<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый товар &ndash; Магаз</title>
</head>
<body>
<a th:href="@{/catalogue/products/list}">&larr; К списку товара</a>
<h1>Новый товар</h1>
<div th:if="${errors}">
    <h2>Допушены ошибки</h2>
    <ul>
        <li th:each="error: ${errors}" th:text="${error}"></li>
    </ul>
</div>
<form th:method="post" th:action="@{/catalogue/products/create}">
    <label>
        Название: <br>
        <input type="text" name="title" th:value="${payload?.title}">
    </label>
    <br>
    <label>
        Описание: <br>
        <textarea name="details" th:text="${payload?.details()}"></textarea>
    </label>
    <button type="submit" >Создать</button>
</form>
</body>
</html>